
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../module-07/fonts/montserrat-v12-latin-regular.woff") format("woff"),
         url("../module-07/fonts/montserrat-v12-latin-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../module-07/fonts/roboto-v18-latin-regular.woff") format("woff"),
         url("../module-07/fonts/roboto-v18-latin-regular.woff2") format("woff2");
}
@font-face {  
    font-family: "Indie Flower";
    font-style: normal;
    font-weight: 400;
    src: url("../module-07/fonts/indie-flower-v9-latin-regular.woff") format("woff"),
         url("../module-07/fonts/indie-flower-v9-latin-regular.woff2") format("woff2");
}
@font-face {  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../module-07/fonts/poppins-v5-latin-regular.woff") format("woff"),
         url("../module-07/fonts/poppins-v5-latin-regular.woff2") format("woff2");
}
* {
    margin: 0;
    padding: 0;
}
.header, .nav-header, .services {
    width: 940px;
    display: flex;
    margin: auto;
}
img {
    display: block; 
}
.header {
    padding-top: 50px;
    margin-bottom: 130px;
}
.nav-header {
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: "Indie Flower", sans-serif;
    font-size: 26px;
    color: #fed136;
    font-weight: 700;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    width: 485px; 
    justify-content: space-between; 
    list-style: none;
}
.submenu-item {
    font-family: "NexaSlab-Regular", sans-serif;
    font-size: 14px;
    color:#222222;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
.submenu-item:hover {
    color:#fed136; 
}
/* main */
.main-title {
    font-family: "RobotoSlab-Bold", sans-serif;
    font-size: 40px;
    color: rgba(34, 34, 34, 255);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
.main-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: rgba(119, 119, 119, 255);
    text-align: center;
    padding-bottom: 20px;
}
.services {
    justify-content: space-between;
}
.services-menu {
    text-align: center;
    width: 290px;
    margin-top: 160px;
    margin-bottom: 100px;
}
.text-title1, .text-title2, .text-title3 {
    font-family: "RobotoSlab-Bold", sans-serif;
    font-size: 18px;
    color: rgba(34, 34, 34, 255);
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 15px;
}
.text {
    font-family: "RobotoSlab-Bold", sans-serif;
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
}
.text-title1, .text-title2, .text-title3 {
    position: relative;
}
.text-title1::before {
    content: url(./img/Icon-Basket2.png);
    position: absolute;
    bottom: 60px;
    left: 110px;
}
.text-title2::before {
    content: url(./img/Icon-Laptop2.png);
    position: absolute;
    bottom: 60px;
    left: 110px;
}
.text-title3::before {
    content: url(./img/Icon-Locked2.png);
    position: absolute;
    bottom: 60px;
    left: 110px;
}
.contact {
    padding-top: 110px;
    padding-bottom: 115px;
    width: 100vw;
    background: #222222 url(./img/map-Image.png) no-repeat right;
}
.contact-title {
    font-family: "RobotoSlab-Bold", sans-serif;
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
.contact-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgba(119, 119, 119, 255);
    text-align: center;
    padding-bottom: 20px;
}
form {
    width: 940px;
    height: 310px;
    margin: 75px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 455px;
    height: 210px;
}
textarea {
    width: 455px;
    height: 210px;
    border-radius: 5px;
    border: none;
}
input {
    width: 455px; 
    height: 50px;
    border-radius: 5px;
    border: none;
}
input:last-child {
    margin-bottom: -30px;
}
.text-indiv, .text-indiv1 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 14px;
    color: rgba(187, 187, 187, 255);
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 20px;
    resize: none;
}
.text-indiv:valid {
    outline: 2px solid green;
}
.text-indiv:invalid {
    outline: 2px solid red;
}
button {
    margin: 30px auto 0 auto;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 47px 27px 47px;
    background-color: #fed136;
    border: none;
    border-radius: 5px;
}