* {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.masthead {
    background: center url(../img/bg-s.png) no-repeat;
    background-size: cover;
    padding: 30px 0 140px 0;
}
.main-nav {
    margin: 0 auto;
}
.submenu, .logo, .header-title {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.logo {
    padding: 125px 0 38px 0;
}
.header-text {
    font-family: "Roboto-Light", sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase; 
    padding: 20px 0 20px 0; 
}
.header-button {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    font-weight: 700;
    background-color: #f75052;
    border: none;
    border-radius: 25px;
    padding: 14px 52px;
    display: block;
    margin: 0 auto; 

}
.section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    text-align: center;
    color: rgba(51, 51, 51, 255);
    padding-top: 68px;
    padding-bottom: 14px;
}
/* .team-card {
    display: flex;
    position: relative;
} */
.team-card-image1:after {
    content: url(../img/Shape-tv.png);
    display: block;
    position: absolute;
    left: 160px;
    top: 85px;
}
.team-card-image2:after {
    content: url(../img/Shape-battle.png);
    display: block;
    position: absolute;
    left: 160px;
    top: 85px;
}
.team-card-image3:after {
    content: url(../img/Shape-cup.png);
    display: block;
    position: absolute;
    left: 160px;
    top: 85px;
}
.team-card-image4:after {
    content: url(../img/Shape-plane.png);
    display: block;
    position: absolute;
    left: 160px;
    top: 85px;
}
.team-card-image {
    border-radius: 50%;
}
.team-card-name {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: rgba(51, 51, 51, 255);
    padding-top: 20px;
    padding-bottom: 16px;
}
.team-card-text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgba(102, 102, 102, 255);
    padding-bottom: 28px;
}
.team-button {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #f75052;
    background-color: white;
    border: 2px solid #f75052;
    border-radius: 25px;
    padding: 14px 74px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
@media (min-widht:768px) {
    .masthead {
        background: center url(../img/bg-m.png) no-repeat;
        background-size: cover;
    }
}
@media (min-widht:1440px) {
    .masthead {
        background: center url(../img/bg-l.jpg) no-repeat;
        background-size: cover;
    }
}