body {
  background-color: #f53e55;

  margin: 0;  /* по умолчанию у тега <body> есть внешний отступ, этим свойством мы
                 эти внешние отступы обнуляем у конкретно этого элемента */
}

h1 {
  color: #fff;

  text-align: center;
}

p {
  color: #000;
  /*width: 100%;   #/ так как у тега <p> display по умолчанию
                    display: block; который растягивает элемент на всю ширину - указывать width: 100%; нет нужды*/
  height: 110px;
  background-color: #453655;
  border-bottom: solid 4px #636363;

  padding: 15px;
  margin: 0;
  font-size: 17px;
}

p span {
  display: none;
}

button {
  border: none;
  border-bottom: 3px solid #333;
  background-color: transparent;
  color: #fff;

  padding: 10px 15px;
  display: block;
  margin: 70px auto 0;
}
